{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block heading %}About{% endblock heading %}
{% block content %}
    <div id="about">
        <h1>About TruthQuest</h1>
        <p>
            TruthQuest is a web application that allows you to test your knowledge of the Bible.
            5 daily interactive true or false question about the Bible and truths about God can be completed and a motivational 'daily Truth' bible verse for people of the Christian faith is displayed to inspire, motivate and empower people through their faiths.
            The goal is to strengthen and motivate people by inspiring them with spiritual truths to escape the lies our minds and environments create that trap us in bad behaviour patterns and states of mind like depression. 
            The Word of God or Bible is described as a sword of the Spirit, that can be used to fight these lies and misconceptions on God, ourselves and existence to achieve the mental/spiritual peace and freedom faith and God can provide us.

            TruthQuest was created by two developers that helped each other develop not only their software engineering skill through motivation and guidance but also their faiths throughout the ALX Software Engineering course.
            It felt right to dedicate their portfolio project to create TruthQuest to bring glory and recognition to God, Who the developers depended on throughout this very hard and intense course for motivation and the will to continue, as well as to show appreciation for the opportunity of ALX SE that was given to them.
        </p>
    </div>
    <div>
        <h4>Authors and Developers</h4>
        <ul>
            <li>Nikki Lewis: <a href="https://github.com/Grey-What">Github</a>  <a href="www.linkedin.com/in/nikki-lewis-0x7d2">LinkedIn</a></li>
            <li>Vishaylin Parshotam: <a href="https://github.com/Vishaylinp">Github</a>  <a href="www.linkedin.com/in/vishaylin-parshotam-46a859277">LinkedIn</a></li>
        </ul>
    </div>
{% endblock content %}