<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>{% block title %}{% endblock title %} - TruthQuest</title>
    {% endblock head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
    <body>
        <header>
        <h1>Truth Quest</h1>
            <img src="{{ url_for('static', filename='css/Image/logo4.jpeg') }}" alt="logo" class="logo">
            <nav class="topnav">
                <a href="{{ url_for('main') }}">Home</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('login') }}">Login</a>
            </nav>
        </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock content %}
    <footer>TruthQuest</footer>
</body>
</html>
