<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>{% block title %}{% endblock title %} - TruthQuest</title>
    {% endblock head %}
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>{% block main_header %}{% endblock main_header %}</h1>
    <div id ="quiz">
        {% block quiz %}
            {% for quiz in quizzes %}
                
            {% endfor %}
        {% endblock quiz%}

        <button>True</button>
        <button>False</button>
    </div>
    <div id="verse">
        {% block verse %}{% endblock verse%}
    </div>
    <footer>TruthQuest</footer>
</body>
</html>
