{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="user-info">
            <h3>User Stats</h3>
            {% if current_user.is_authenticated %}
                <p>Hello, {{ current_user.username }}!</p>
                <p>Streak: {{ user_stats.streak }} days played</p>
                <p>Quizzes Completed: {{ user_stats.quizzes_completed }}</p>
                <p>Quizzes Correct: {{ user_stats.correct_answers }}</p>
            {% else %}
                <p>You are not logged in!</p>
                <p><a href="{{ url_for('login') }}">Log In</a></p>
            {% endif %}
        </div>
        <div id="quiz">
            <h1>Daily Quizzes</h1>
            {% block quiz %}
                {% if quiz_complete %}
                    <p>You have completed all quizzes for today!
                        Come Back Tomorrow for More Quizzes!
                    </p> 
                {% else %}
                    <h2>Quiz {{ index }} of 5:</h2>
                    {% if quiz_answered %}
                        <p>Your answer was: <strong>{{ quiz_answer }}</strong></p>
                        {% if (quiz_answer == 'True' and quiz.answer) or (quiz_answer == 'False' and not quiz.answer) %}
                            <p><strong>Correct!</strong></p>
                        {% else %}
                            <p><strong>Incorrect.</strong> The correct answer is: {{ 'True' if quiz.answer else 'False' }}</p>
                        {% endif %}
                        <form action="{{ url_for('next_quiz') }}" method="POST">
                            <input type="submit" name="next_quiz" value="Next Quiz">
                        </form>
                    {% else %}
                        <form action="{{ url_for('next_quiz') }}" method="POST">
                            <p>{{ quiz.question }}</p>
                            <button type="submit" name="answer" value="True">True</button>
                            <button type="submit" name="answer" value="False">False</button>
                        </form>
                    {% endif %}  
                {% endif %}
            {% endblock quiz %}
        </div>   
        <div id="verse">
            <h1>{{ daily_verse.bookname }}: {{ daily_verse.chapter }}:{{ daily_verse.verse }}</h1>
            <p>{{ daily_verse.text }}</p>
        </div>
    </div>
{% endblock content %}

